body {
        background: black;
        color: white;
    }
    
    .error-message, .required {
    	color: red;
    	font-size: 1.2em;
    }
    fieldset {
    	width: 40%;
    }
    .form-container {
    	margin-left: 26%;
    }
    table {
        width: 70%;
        border-collapse: collapse;
        text-align: center;
        margin: 20px 0;
    }

    table {
    	margin-bottom: 5%;
        border: 1px solid white;
    }
    table a {
    	color: white;
    }
    
    th, td {
    	border: 1px solid white;
        padding: 10px;
    }
    .botton {
    	border: none;
        margin: 10px;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 12px;
        background-color: #800080;
        color: white;
        cursor: pointer;
        margin-left: -0.5%;
    }
    .botton:hover {
    	background-color: #a64ca6;
  	}

    .botton a {
    	background-color: none;
        text-decoration: none;
        color: white;
        
    }

    .recalmo-inviato p {
        color: green;
    }