body {
		 background: radial-gradient(circle, #4B0082, black 70%);
    	color: white;
	}
    .titolo .numero, .titolo .data {
        display: inline-block;
        margin-right: 100px;
    }
    .titolo {
        font-size: 1.8em;
        border-bottom: 2px solid white;
    }
    .destinatario h2 {
    	margin-bottom: -1%;
    }
    .intestazione {
        margin-top: 30px;
    }
    .dettagli-prodotti {
        width: 45%;
         border-collapse: collapse; 
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .dettagli-prodotti img {
        max-width: 85px;
        height: auto;
    }
    .dettagli-prodotti th, .dettagli-prodotti td {
        border: 2px solid white;
        padding: 10px;
    }