table {
        width: 80%;
        border-collapse: collapse;
        text-align: center;
    }

    table {
    	margin: 0% 10% 0% 10%;
        border: 1px solid white;
    }
    table a {
    	color: white;
    }
    
    th, td {
    	border: 1px solid white;
        padding: 10px;
    }